/.idea/
/scripts/dota-lua-typedefs
/maps/*.vpk
*.vjs_c
*.vxml_c
*.vcss_c

/*
!/game
!/content
!/docs
!/.gitignore
!/README.md
/game/*
!/game/dota_addons
/game/dota_addons/*
!/game/dota_addons/green_envy_xmas_defense
/content/*
!/content/dota_addons
/content/dota_addons/*
!/content/dota_addons/green_envy_xmas_defense

/game/dota_addons/green_envy_xmas_defense/panorama
/game/dota_addons/green_envy_xmas_defense/maps
/game/dota_addons/green_envy_xmas_defense/soundevents/
/game/dota_addons/green_envy_xmas_defense/sounds/
/game/dota_addons/green_envy_xmas_defense/.idea

/content/dota_addons/green_envy_xmas_defense/maps/**/*.vmap
/content/dota_addons/green_envy_xmas_defense/.idea/
/game/dota_addons/green_envy_xmas_defense/huj.iml
/game/dota_addons/green_envy_xmas_defense/panorama_debugger.cfg
/game/dota_addons/green_envy_xmas_defense/resource/overviews/
/game/dota_addons/green_envy_xmas_defense/tools_asset_info.bin
/game/dota_addons/green_envy_xmas_defense/tools_thumbnail_cache.bin
