/.idea/
/scripts/dota-lua-typedefs
/maps/*.vpk
*.vjs_c
*.vxml_c
*.vcss_c

/*
!/game
!/content
!/docs
!/.gitignore
!/README.md
/game/*
!/game/dota_addons
/game/dota_addons/*
!/game/dota_addons/green_envy_xmas_defense
/content/*
!/content/dota_addons
/content/dota_addons/*
!/content/dota_addons/green_envy_xmas_defense

/game/dota_addons/green_envy_xmas_defense/panorama
/game/dota_addons/green_envy_xmas_defense/maps

/content/dota_addons/green_envy_xmas_defense/maps/**/*.vmap